@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
body{
    background-color: #e6f2fd;
}
.side{
    list-style-type: none;
    text-decoration: none;
}
.bar{
    margin-left: 4.68%;
}
.pos{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.sidebar{
    position: fixed;
    background-color: #0b4d8b;
    height: 100%;
    width: 16.69%;
    padding-top: 20px;
    margin-top: -5%;
}
.pos:hover{
    color: #a0d7ff;
}


.list-container {
    margin: 40px auto;
    width: 77%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-left: 20%;
}

#listss{
    margin-top: 5%;
}
.table-container {
    margin-top: 20px;
}
.add{
    width: 20%;
}
.search{
    padding-right: 10px;
}
.searchs{
    width: 220px;
}
.table {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    border-collapse: separate;
    border-spacing: 0;
}

.table thead th {
    background-color: #f1f1f1;
    font-weight: 600;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #e0e0e0;
}

.table tbody tr {
    transition: background-color 0.3s ease;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table td {
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
    vertical-align: middle;
}

.table th, 
.table td {
    border: 1px solid #ddd;
}
.table{
    width: 90%;
    margin-top: 1%;
    margin-left: 4%;
}
.date{
    width: 80%;
}
.dates{
    width: 20%;
}
.claim{
    border-radius: 5px;
    padding: 2%;
    font-weight: bold;
}
.del{
    margin-left: 2%;
    width: 50%;
}

